<a href="/admin/Urunler" class="btn btn-primary" style="margin-bottom:15px;"> Geri Git</a>

<form action="/admin/urunler/Update/@Model.Id" method="post" enctype="multipart/form-data">
    <div class="col-md-12" style="margin-top:5px;margin-bottom:5px;text-align:center">
        <img src="/images/@Model.MainImage" width="350px" />
    </div>
    <div class="col-md-12" style="margin-top:5px;margin-bottom:5px;">
        <div class="col-md-12">Ana Resim :</div>
        <input type="file" name="MainImages" class="form-control" />
    </div>

    <div class="col-md-12" style="margin-top:5px;margin-bottom:5px;">
        <div class="col-md-12">Ürün Adı :</div>
        <input type="text" name="Name" value="@Model.Name" class="form-control" placeholder="Ürün Adı" />
    </div>

    <div class="col-md-12" style="margin-top:5px;margin-bottom:5px;">
        <div class="col-md-12">Stok :</div>
        <input type="text" name="Stock" value="@Model.Stock" class="form-control" placeholder="Stok" />
    </div>

    <div class="col-md-12" style="margin-top:5px;margin-bottom:5px;">
        <div class="col-md-12">Satış Fiyatı :</div>
        <input type="text" name="Price" class="form-control" value="@Model.Price" placeholder="Satış Fiyatı" />
    </div>

    <div class="col-md-12" style="margin-top:5px;margin-bottom:5px;">
        <div class="col-md-12">Kategori Seç :</div>
        <select class="form-control" name="CategoriesId" style="margin-bottom:10px;">
            <option value="@Model.CategoriesId">@Model.Categories.Name</option>

            @foreach (var item in ViewBag.Kategoriler)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="col-md-12" style="margin-top:5px;margin-bottom:5px;">
        <div class="col-md-12">Açıklama :</div>
        <textarea type="text" name="Explanation" class="form-control" placeholder="Ürün Açıklama" style="height:250px">@Model.Explanation</textarea>
    </div>
    <div class="col-md-12" style="margin-top:5px;margin-bottom:5px;">
        <div class="col-md-12">Ürün Durumu :</div>
        <select class="form-control" name="Status" style="margin-bottom:10px;">
            @if (Model.Status)
            {
                <option value="True">Aktif</option>
                <option value="False">Pasif</option>
            }
            else
            {
                <option value="False">Pasif</option>
                <option value="True">Aktif</option>
            }
        </select>
    </div>

    @if (Model.Images1 != null)
    {
        <div class="col-md-3" style="margin-top:5px;margin-bottom:5px;text-align:center">
            <img src="/images/@Model.Images1" width="100%" />
        </div>
    }
    @if (Model.Images2 != null)
    {
        <div class="col-md-3" style="margin-top:5px;margin-bottom:5px;text-align:center">
            <img src="/images/@Model.Images2" width="100%" />
        </div>
    }
    @if (Model.Images3 != null)
    {
        <div class="col-md-3" style="margin-top:5px;margin-bottom:5px;text-align:center">
            <img src="/images/@Model.Images3" width="100%" />
        </div>
    }
    @if (Model.Images4 != null)
    {
        <div class="col-md-3" style="margin-top:5px;margin-bottom:5px;text-align:center">
            <img src="/images/@Model.Images4" width="100%" />
        </div>
    }


    <div class="col-md-12" style="margin-top:5px;margin-bottom:5px;">
        <div class="col-md-12">Detay Resimleri :</div>
        <input type="file" name="resimler" id="resimler" class="form-control" multiple />
    </div>

    <div class="col-md-12 alert alert-info" style="margin-top:5px;margin-bottom:5px;text-align:center">

        Seçilen Resimlere Güncelleme Soldan sağa doğru başlamaktadır.
        1 veya daha fazla resim seçildiği zaman, resim güncellemeeri soldan sağa doğru olacak şekildedir.

    </div>


    <div class="col-md-12" style="margin-top:5px;margin-bottom:5px;text-align:center">

        <button type="submit" id="clickKaydet" class="btn btn-primary">Kaydet</button>
    </div>

</form>

<div class="col-md-12" style="margin-top:15px;">
    @if (ViewBag.Message != null)
    {
        if (ViewBag.Message.StatusCode == Core.Results.ComplexTypes.StatusCode.Success)
        {
            <div class="alert alert-success">@ViewBag.Message.UserMessage</div>
        }
        else
        {
            <div class="alert alert-danger">@ViewBag.Message.UserMessage</div>
        }
    }
</div>